<a href="https://colab.research.google.com/github/fcojquesada/Linear-Regression-Pyhton-Colab/blob/main/Practice_Multivariable_Linear_Regression_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('1.02. Multiple linear regression.csv')

In [3]:
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [10]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

###Multiple variable Regression

In [5]:
x1 = data[['SAT','Rand 1,2,3']]
y = data['GPA']

In [4]:
reg = LinearRegression()

In [6]:
reg.fit(x1,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
reg.score(x1,y)

0.4066811952814283

In [8]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [9]:
reg.intercept_

0.29603261264909486

###R-Squared

In [11]:
reg.score(x1,y)

0.4066811952814283

### Formula for Adjusted-R-squared

$R^2_{adj} = 1 - (1-R^2)*\frac{n-1}{n-p-1}$

In [14]:
x1.shape

(84, 2)

In [16]:
r2 = reg.score(x1,y)

n = x1.shape[0]
p = x1.shape[1]

adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)

In [17]:
adjusted_r2

0.3920313482513401

### Adjusted_R-squared function

In [22]:
def adj_R2(x,y):
  r2 = reg.score(x,y)
  n = x.shape[0]
  p = x.shape[1]

  adjusted_R2 = 1-(1-r2)*(n-1)/(n-p-1)
  return adjusted_R2

In [23]:
adj_R2(x1,y)

0.3920313482513401